* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

.first-box {
    background-image: url(image/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav {
    background-color: white;
    box-shadow: 0 10px 10px rgb(165, 165, 165);
}

nav ul li {
    list-style: none;
    height: 50px;
}

li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    color: black;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0, 0, 0, 0.101);
    color: black;
}

nav li:first-child {
    margin-right: auto;
}

/* main content */

.container h1 {
    color: rgb(15, 20, 48);
    font-size: 50px;
}

.container p {
    color: rgb(105, 105, 105);
}

.container button {
    height: 40px;
    padding: 0 15px;
    background-color: rgb(15, 20, 48);
    color: white;
    border: none;
    border-radius: 5px;
}

.container img {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.content {
    width: fit-content;
    background: white;
    cursor: pointer;
}

.content p {
    font-size: 13px;
}

.content a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.content a:hover {
    color: black;
    text-decoration: underline;
}

.sec {
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.sec-content {
    width: 80.3%;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sec-content i {
    margin: 0 5px;
}

.sec-content a {
    text-decoration: none;
    color: black;
}

.sec-content a:hover {
    color: rgb(37, 37, 37);
}

/* home comtainer */

.imp-box {
    background: url(image/Untitled\ design\ \(6\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    text-align: start;
    display: flex;
    align-items: center;
}

.imp-box h3 {
    margin: 10px;
    color: rgb(0, 0, 0);
    width: 50%;
}

.pink-box {
    background-color: rgb(195, 127, 138);
    min-height: 50vh;
    width: 33%;
}

.cyan-box {
    background-color: cadetblue;
    min-height: 50vh;
    width: 34%;
}

.blue-box {
    background-color: rgb(34, 60, 255);
    min-height: 50vh;
    width: 33%;
}

.color-box {
    display: flex;
}

.color-box h3 {
    color: rgb(0, 0, 0);
    margin: 20px;
}

.sec-mainBox p {
    color: white;
    margin: 20px;
}

.about-box {
    background-color: black;
    min-height: 50vh;
    text-align: start;
    display: flex;
    align-items: center;
}

.about-box h3 {
    margin: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.about-box h4 {
    color: rgb(215, 168, 0);
    margin: 10px;
    text-align: center;
}

.about-sec-box {
    min-height: 45vh;
    width: 33%;
    color: white;
    margin: 20px;
}

.about-sec-box h3 {
    color: rgb(215, 168, 0);
    margin: 20px;
}

.about-sec-box p {
    color: white;
    margin: 20px;
}

.flexBox {
    background-color: rgb(24, 24, 24);
}

.contect-box {
    min-height: 80vh;
}

.contect-sec-box {
    min-height: 20vh;
    background-color: rgb(35, 35, 35);
}

.details-box {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-box p {
    font-size: 19px;
    font-weight: 600;
}

.details-box {
    font-size: 30px;
}

.remark-sec-box p {
    font-size: 18px;
}

.remark-sec-box input {
    border-radius: 5px;
    border: 1px solid rgb(71, 71, 71);
    height: 40px;
    padding: 10px;
}

.remark-sec-box .message {
    height: 100px;
}

.remark-sec-box .message::placeholder {
    padding: -100px;
}

.remark-sec-box .message:focus {
    outline: 1px solid black;
}

.contect-sec-box h3 {
    font-size: 10px;
    color: white;
    padding-top:15vh ;
    text-align: center;
}